body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
    
}

.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;    
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    margin-top: 58px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px 0px 16px;
    margin: 50px 14px 0px 14px;
    }

.info{
    width: 100%;
    height: 717px;
    background: url(../img/boy_info.png) 860px 223px /auto 203px no-repeat, url(../img/line_info.png) 925px 50px /70px 4px no-repeat, url(../img/bg_info.jpg) center/cover no-repeat;
}

.personal_content h2{
    margin: 108px 0px 0px 896px;
    
}

.personal_content h2{
    font-size: 27px;
    font-weight: bold;
    color: #263244;
}
.info_0>p{
    margin: 430px 450px 0px 595px;
}
.info_01>p{
    margin: 42px 450px 0px 595px;
 }
  
.personal_content input{
    height: 33px;
    text-align: center;
    border: 2px solid #6d7682;
    background: url(../img/icon_info.png);
    background-repeat: no-repeat;
    background-position: 8% 40%;
    margin: 586px 0px 0px 885px;
    border-radius: 6px;
    margin-top: 58px;
    color: #6d7682;
    font-size: 12px;
    padding: 8px 10px 10px 33px;
    }

.main_1{
    width: 100%;
    height: 521px;
    background: url(../img/line_info.png) 925px 30% /70px 4px no-repeat, url(../img/bg_main_1.jpg) center/cover no-repeat;
}

.skills_01 h2{
    float: left;
    margin: 107px 0px 0px 874px;
    color: #263244;
    font-weight: bold;
    font-size: 27px;
 }

.text{
    color: #d49052;
    font-weight: bold;
    font-size: 16px;
}
.skills_02 p{
    
    float: left;
    margin: 10px 0px 0px 10px;
    }
.skills_03 span{
    float: left;
    margin: 10px 0px 0px 10px;
    }
.skills_04 span{
    float: left;
    margin: 10px 0px 0px 10px;
    }
.skills_05 span{
    float: left;
    margin: 10px 0px 0px 10px;
    }

